.Landing__page {
    width: 100%;
    height: 100%;
    background-image: url("../../icons/hero-1.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Landing__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(36, 41, 62, .8);
    flex-direction: column;
    padding: 50px 0;
    width: 900px;
}

.Landing__title {
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}

.Landing__header {
    width: 100%;
    height: 70px;
    background-color: rgba(36, 41, 62, 0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.Landing__header-logo {
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header__nav-item {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.header__nav-item:hover {
    color: #5fd1db;
}

.header__nav-button-bordered {
    background-color: transparent;
    width: 120px;
    height: 40px;
    border: 2px solid #5fd1db;
    color: #5fd1db;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
}

.header__nav-button-bordered:hover {
    transition: 1s;
    background-color: #5fd1db;
    color: #fff;
}

.header__nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #5fd1db;
}

.header__nav-logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 100%;
}

.header__nav-logo:hover {
    transition: 1s;
    background-color: #4267b2;
}

.facebook {
    color: #fff;
}

.SignUp__Button {
    background-color: #61d5df;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 30px;
    display: block;
    max-width: 180px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
