.aside__item {
    height: 100%;
    background-color: #ECEDF5;
    flex-shrink: 0;
}

.choose__item {
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.73;
    color: #fff;
}

.choose__item--top {
    background-color: #5D6B9F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose__item--bottom {
    background-color: #9DA9D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 970px) {
    .aside__item {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 869px) {
    .aside__item {
        display: none;
    }
}
