.catalog__product {
    height: 285px;
    background: #FFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e4e5ec;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    /*width: 100%;*/
}

.catalog__product-body {
    /*flex: 1 290px;*/
    height: 285px;
    background-color: #ffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 0 0;
}

.product__item--price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cacaca;
    padding: 10px;
}

.catalog__product--border {
    box-shadow: 0 0 0 1px #61d5df;
}

.catalog__product:hover {
    box-shadow: 0 0 0 1px #61d5df;
}

.catalog__img {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.catalog__img img {
    max-width: 100%;
    max-height: 100%;
}

.catalog__title {
    font-size: 14px;
    color: #29304b;
    min-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1rem;
    max-height: 2rem;
    -webkit-line-clamp: 2;
}

.catalog__prices {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #616161;
    font-weight: 500;
}

.catalog__prices--modifier {
    color: #58c3cc;
}

.quantity {
    margin: 34px 14px;
}
.product__item--middle {
    display: flex;
    padding: 0 14px;
    justify-content: space-between;
}