.form__wrapper {
    background-image: url("../../icons/catalog_bg.3808158baad738767615.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__authorization {
    background-color: #fff;
    height: max-content;
    width: 400px;
    border-radius: 8px;
    padding: 35px;
}

.form__header {
    display: flex;
    justify-content: space-between;
}

.form__img-wrapper {
    width: 51px;
    height: 30px;
}

.form__img-wrapper img {
    width: 100%;
    height: 100%;
}

.form__heading {
    font-size: 18px;
    color: #171717;
    text-transform: capitalize;
    margin-right: 70px;
}

.privacy {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(59, 59, 59, .5);
}

.privacy a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(59, 59, 59, .5);
    text-decoration: underline;
}

.inputs__subscribe {
    display: flex;
    align-items: center;
    color: rgba(59, 59, 59, .5);
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}

.registration__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.social {
    outline: 0;
    border: none;
    width: 160px;
    height: 44px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(218, 219, 221, .16);
    cursor: pointer;
}

.registration__redirect {
    font-size: 15px;
    color: rgba(59, 59, 59, .64);
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration__redirect a, .login__redirect a {
    font-weight: 600;
    color: rgba(59, 59, 59, 1);
    text-decoration: none;
}

.options {
    font-size: 14px;
    color: rgba(59, 59, 59, .35);
    text-transform: capitalize;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    margin-top: 25px;
}
