.catalog {
    overflow-y: scroll;
    height: calc(98vh - 122px);
    flex-grow: 1;
}

@media only screen and (max-width: 970px) {
    .content {
        padding-left: 0;
    }
}

@media only screen and (max-width: 869px) {
    .content {
        margin-left: 0;
    }
}

@media only screen and (max-width: 640px) {
    .catalog {
        justify-content: center;
    }
}
