.choose__item--sort {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 1.73;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.choose__item--option {
    color: #49547d;
    width: 100%;
    padding: 20px;
}
