.cart__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 10px;
  }
  .cart__items svg {
    position: absolute;
    cursor: pointer;
  }
  .cart__items svg:active {
    opacity: 0.5;
  }
  .diff {
    color: #303856;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
  }
  .cart__items span {
    align-items: center;
    text-align: center;
    color: #303856;
    font-family: "Source sans pro";
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
  