.cntr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
  }
  .cntr > img {
    width: 100px;
    height: 100px;
  }
  .title {
    font-size: 16px;
    color: #303856;
    font-family: Helvetica, serif;
    width: 80%;
    overflow: hidden;
    height: 24px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-right: 30%;
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
  }
  .qty {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
  }
  