.cart__footer {
    width: 100%;
    height: 90px;
    padding: 25px 48px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
    background-color: #fefefe;
    margin-top: 22px;

  }

  .footer__data {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #303856;
    font-weight: 600;
  }
  .footer__data div {
      margin: 0 10px;
  }
  .price {
    color: #4785ef;
    font-size: 16px;
  }

