.product__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(36, 41, 62, 0.8);
    padding: 0 40px;
}
.product__header h2{
    color: #fff;
    font-size: 20px;
}