.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.add__products {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #999;
z-index: 999;
background-color: #fff;
height: max-content;
width: 400px;
border-radius: 8px;
padding: 35px;
}
 
.form__header {
    display: flex;
    justify-content: space-between;
}

.form__header p {
    font-size: 18px;
    color: #171717;
    text-transform: capitalize;
}
.close__popup {
    cursor: pointer;
}