.modal__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 14, 70, .7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__card {
    width: 1000px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal__close {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    color: #4e4e4e;
}

.modal__items {
    display: flex;
}

.modal-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 50px;
}

.item__info--price {
    padding: 20px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    border-radius: 7px;
    border: 1.5px solid #fff;
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

.item__info--image {
    padding: 30px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.item__features--title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    text-align: left;
    color: #3b3b3b;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.about__pric-details {
    font-size: 22px;
    color: #616161;
    font-weight: 500;
}

.about__pric-mindetails {
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    letter-spacing: .14px;
    opacity: .7;
    text-transform: uppercase;
}

.about__price {
    display: flex;
    flex-direction: column;
}

.item__description {
    margin: 20px 0;
}