.SideBar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SideBar__list--item {
    list-style-type: none;
    margin: 13px 0;
    cursor: pointer;
}

.iconolor {
    color: #49547d;
    transition: color 0.3s ease-in;
}

.iconolor:hover {
    color: #61D5DF;
}
